
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Updated Person</title>
    <br />
    @Model.FName
    <br />
    @Model.LName
    <br />
    @Model.Email
    <br />
    @Model.Phone
    <br />
    @Model.Address
    <br />
    asp-for="UserName" @Model.UserName
    <br />
    @Model.Password
    <br />
</head>
<body>
</body>
</html>
